@use '../abstracts' as a;
@use '../base' as b;

.btn {
    font-size: 1.3rem;
    font-weight: 700;
    color: a.$white;

    background-color: a.$dark-cyan;
    // display: block;
    width: 100%;
    @include a.flex(0,0,0);
    padding: 1.5rem 9.2rem;
    border-radius: .8rem;

    @include a.breakpoint(800,min) {
        padding: 1.5rem 6.3rem;
    }

    &__icon {
        margin-right: 1rem;
    }

    &:hover {
        background-color: #1A4032;
    }
}